<div class="container About">
    <div id="impress">
        <div class="step box" data-x="0" data-y="0" data-z="-150">
            <h1 class="ceterize sliderHeader">Tweedle</h1>
            <h3 class="ceterize">Real Time Analysis and Notification System</h3>
            <p class="ceterize ">
                <br/>
                <br/>
                <img src="../../../assets/img/twitter-icon.png" height="50" width="100">
                <br/>
                <small>By </small><a style="color: #005983" href="https://github.com/AishwaryaPSU">Aishwarya GM</a>
                <br/><small>COMP512</small>
                <br/><small>agm37@psu.edu</small>
            </p>
        </div>

        <div class="step box " data-x="450" data-y="0" data-z="-600" data-rotate-y="90" >
            <h1 class="ceterize sliderHeader">Assumptions</h1>
            <br/>
            <ul class="">
                <li> Twitter streaming API service supplies the tweets in Real Time</li>
                <li> Ideal network conditions </li>
                <li> Servers have required system configuration </li>
                <li> Push notification service delivers notification in Real Time</li>
            </ul>
        </div>

        <div class="step box" data-x="0" data-y="0" data-z="-1050" data-rotate-y="180">
            <h1 class="ceterize sliderHeaderNoMargin">Tech Stack</h1>
            <ul class="">
                <li> Open Source Libraries - <a href="https://kafka.apache.org/">Apache Kafka</a>, <a href="https://storm.apache.org/">Apache Storm</a>,<a href="https://github.com/twitter/hbc">HBC client</a> </li>
                <li> Data Source - <a href="https://dev.twitter.com/streaming/overview">Twitter Streaming API</a></li>
                <li> Backend Service - <a href="https://www.playframework.com/"> Play Framework</a></li>
                <li> Frontend - <a href="https://angular.io/">Angular 2</a></li>
                <li> Storage - <a href="https://docs.mongodb.com/">MongoDB</a></li>
                <li> Third Party Host Providers - <a href="https://www.linode.com/">Linode Servers</a></li>
                <li> third party push notification service - <a href="https://www.pushwoosh.com/">PushWoosh</a> </li>
            </ul>
            <div class="logos">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <img src="../../../assets/img/angular-logo.svg" height="70" width="150"/>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <img src="../../../assets/img/play-logo.png" height="70" width="180"/>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <img src="../../../assets/img/mongodb-logo.png" height="70" width="200"/>
                    </div>

                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <img src="../../../assets/img/kafka-logo.png" height="70" width="180"/>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <img src="../../../assets/img/storm-logo.png" height="70" width="200"/>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <img src="../../../assets/img/linode-logo.png" height="70" width="200"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="step box" data-x="-450" data-y="0" data-z="-600" data-rotate-y="270">
            <h1 class="ceterize sliderHeaderNoMargin"> Overall Picture </h1>
            <div class="overAllPicture">
                <img src="../../../assets/img/Tweedle-final.jpg" height="550" width="800"/>
            </div>

        </div>


        <div class="step box" data-x="-450" data-y="2000"  data-rotate-y="90">
            <h1 class="ceterize sliderHeader">Advantages</h1>
            <ul class="">
                <li>Different data sources can be integrated</li>
                <li>Multiple producers and consumers can be added to Kafka with ease</li>
                <li>All components can work in distributed mode, hence scalable.</li>

            </ul>
            <div class="ceterize">
                <img src="../../../assets/img/scalable.jpg"/>
            </div>
        </div>

        <div class="step box" data-x="2000" data-y="2000">
            <h1 class="ceterize sliderHeader">Drawbacks</h1>
            <ul>
                <li>Storm needs relatively powerful servers at high data flow.</li>
                <li>Needs complex exception handling logic</li>
            </ul>
            <p></p>
        </div>


        <div class="step box" data-x="4000" data-y="5000" data-z="-3000" data-rotate="90">
            <h1 class="ceterize sliderHeader">Improvements</h1>
            <ul>
                <li> Machine learning model for sentiment analysis</li>
                <li> Android/iPhone push notification mobile application </li>
                <li> Better Data Management </li>
                <li> Better Websocket Handling </li>
                <li> Better Threadpool Management </li>
                <li> Better Deployment Mechanism </li>
            </ul>
        </div>

        <div class="step box" data-x="1000" data-y="4000" data-z="-3000">
            <h1 class="ceterize sliderHeader">Features</h1>
            <ul>
                <li> Retry Mechanism on message delivery failure at Producer or Consumer</li>
                <li> <b>Asynchronous</b> and <b>non-blocking</b> execution where needed</li>
                <li> WebSocket Connection to stream live data to user interface</li>
            </ul>
            <div class="ceterize">
                <img src="../../../assets/img/Data-Flow2.png" height="340" width="600">
            </div>
        </div>
        <div id="big" class="step" data-x="-7500" data-y="-5500" data-rotate="180" data-scale="4">
            <h1 class="ceterize"> Demo Time </h1>
            <img src="../../../assets/gifs/demo1.gif"/>
        </div>
    </div>
</div>